@import url('https://fonts.googleapis.com/css2?family=Abel&family=Jacquard+24&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Oooh+Baby&family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Jacquard+24&family=Licorice&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Oooh+Baby&family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Jacquard+24&family=Licorice&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Megrim&family=Oooh+Baby&family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Jacquard+24&family=Libre+Barcode+39+Extended+Text&family=Licorice&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Megrim&family=Oooh+Baby&family=Whisper&display=swap');

body{
    background-color: rgba(237, 252, 244, 0.869);
    font-family: "Marvel", sans-serif;
    font-weight: 400;
    font-style: normal;

}
body h2{
    background-color: rgba(237, 252, 244, 0.869);
    font-family: "Marvel", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:55px;
}

header{
    background-color: rgba(68, 122, 106, 0.722);
    display:flex;
    text-align: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.bar{
    display:flex;
   justify-content: space-between;
   align-items: flex-end;

}

header h1{
    color:black;
    font-family: "Megrim", system-ui;
    font-weight: 600;
    font-style: normal;
  font-size: 55px;
}

.home{
    margin-left:20px;
    margin-bottom: 12px;
}

.projects{
    margin-left:20px;
    margin-bottom: 10px;
}

.about{
    margin-left:20px;
    margin-bottom: 14px;
}

.ig{
    margin-bottom: 8px;
}

.heading{
    margin-left:100px
}
.intro{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

}



.date{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}





main h2{
align-content: center;
}
.linedivider{
    border: 1px solid darkseagreen;
    border-radius: 2px;
}

.HT-banner{
        display:flex;
    justify-content: space-evenly;
  
}
.short-divider{
    border: 1px solid darkseagreen;
    border-radius: 2px;
}



footer h2{
    font-family: "Libre Barcode 39 Extended Text", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;

}

footer{
    color:black;
    padding-top:15px;
    padding-bottom:15px;
    background-color: rgba(68, 122, 106, 0.722);
    font-family: "Abel", sans-serif;
    font-family: "Marvel", sans-serif;
    font-weight: 400;
    font-style: normal;
}